.icon_zoom {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.8em;
}

.carousel_card {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
    font-size: 1em;
    }
}

.popUp {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    &__alert {
        background-color: #FFFFFF;
        width: 37%;
        height: 28%;
        position: relative;
    }
    &__btn {
        background-color: $orinoco_bg;
        color: $orinoco;
        border: 3px solid $orinoco;
        &:hover {
           background-color: $orinoco;
           color: #FFFFFF; 
        }
    }
}

.btn_close {
    background: none;
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8em;
}