@import "variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "cart";
@import "product";

a {
    cursor: pointer;
    text-decoration: none!important;
}

a:hover {
    color: darken($dark, 15);
}

header {
    background: $orinoco_bg;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.icone_panier {
    margin-right: 6px;
}
   
.input {
    &__container {
        position: relative;
    }
    &__icon {
        position: absolute;
        top: 5px;
        right: 25px;
    }
}

.jumbotron {
    background: url('../images/texture_bois.jpg');
    background-size: cover;
}

.furniture {
    &__img {
        object-fit: contain;
        width: 100%;
        max-height: 400px;
    }
    &__name {
        font-size: 1.5em;
    }
    &__description {
        font-size: .9em;
        color: grey;
    }
    &__price {
        font-size: 1.2em;
    }
}

.banner_icon {
    font-size: 1.8em;
}

footer {
    background: $orinoco;
}
.btn_input {
    width: 1.9rem;
    padding: .375rem .6rem;
}

.input_spinner {
    padding: .375rem 0.5rem;
    max-width: 40px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}