.form {
    &__input {
        width: 100%;
    }    
    &__icon {        
        position: absolute;
        top: 35px;
        right: 25px;
        font-size: 0.9em;
        &__check {
            display: none;
            color: green;
        }
        &__wrong {
            display: none;
            color: red;
        }               
    }
    &__icon_wrong {      
        position: absolute;
        right: 25px;
        
        font-size: 0.9em;
        padding-top: 3px;                
    }
}

.btn_remove {
    background: none;
    color: #505050;
    &:focus {
        outline: none;
    }
}